jellyfin/jellyfin*
libretranslate/libretranslate
miniserve/miniserve
nginx-ui/nginx*
portracker/portracker
qbittorrent/qBittorrent
searxng/searxng
statping/statping
syncplay/syncplay
szurubooru/szurubooru
szurubooru/data
szurubooru/sql
uptime-kuma/uptime-kuma
