jellyfin/jellyfin*
libretranslate/libretranslate
miniserve/miniserve
nginx-ui/nginx*
nginx-ui/-var-www-html
ollama/ollama
portracker/portracker
qbittorrent/qBittorrent
searxng/searxng
statping/statping
syncplay/syncplay
szurubooru/szurubooru
szurubooru/data
szurubooru/sql
uptime-kuma/uptime-kuma
